
@{
    ViewBag.Title = "Áo";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div id="pathchange" url="product/category" cid="68132" path="/quan-pc68132.html" icpp="12" page="1"></div>
<section class="bread-crumb clearfix">
    <span class="crumb-border"></span><div class="container">
        <div class="row">
            <div class="col-xs-12 a-left">
                <ul class="breadcrumb">
                    <li class="home">
                        <a href="/"><span>Trang chủ</span></a>
                        <span class="mr_lr"><i class="fa fa-angle-right"></i> </span>
                    </li>
                    <li><strong><span itemprop="title"> QUẦN</span></strong></li>
                </ul>
            </div>
        </div>
    </div>
</section>
<div class="container margin-bottom-15 bg_white">
    <div class="wrp_border_collection">
        <div class="row">
            <section class="main_container collection collection_container col-lg-9 col-md-9 col-sm-12 col-lg-push-3 col-md-push-3">
                <div class="page_title margin-top-5"><h1 class="title_page_h1"> QUẦN</h1></div><div class="category-products products">
                    <div class="sortPagiBar">
                        <div class="srt">
                            <div class="wr_sort col-sm-12">
                                <div class="text-sm-right">
                                    <div class="sortPagiBar sortpage text-sm-right">
                                        <div id="sort-by">
                                            <label class="left hidden-xs" for="SortBy">Sắp xếp: </label><div class="border_sort">
                                                <select name="SortBy" id="SortBy">
                                                    <option value="">Tùy chọn</option>
                                                    <option value="new"> Mới nhất</option>
                                                    <option value="bestseller">Bán chạy nhất</option>
                                                    <option value="priceAsc">Giá tăng dần</option>
                                                    <option value="priceDesc">Giá giảm dần</option>
                                                    <option value="nameAsc">
                                                        Tên từ A-Z
                                                    </option>
                                                    <option value="nameDesc">Tên từ Z-A</option>
                                                </select>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div><div class="clearfix"></div><section id="resultAjax" class="products-view products-view-grid collection_reponsive">
                        <div class="row">
                            <div class="col-xs-6 col-sm-3 col-md-3 col-lg-3 product-col">
                                <div class="item saler_item pro-content" data-id="28750961">
                                    <div class="product-box">
                                        <div class="product-thumbnail">
                                            <span class="sale_count"> <span class="bf_"> -5% </span></span>                                                    <a rel="noindex" href="/quan-jeans-suong-cao-cap-q0102-p28750961.html" class="image_link display_flex" data-images="https://storage.googleapis.com/cdn.nhanh.vn/store/6602/ps/20210201/731908146af1da9fdfc711fe96dfcf26_thumb.jpg" title="Quần jeans suông cao cấp Q0102">
                                                <img class="img-responsive " src="https://storage.googleapis.com/cdn.nhanh.vn/store/6602/ps/20210201/731908146af1da9fdfc711fe96dfcf26_thumb.jpg" alt="Quần jeans suông cao cấp Q0102" style="padding-top: 0px;">
                                            </a><div class="product-action-grid clearfix">
                                                <div class="variants ">
                                                    <a href="javascript:void(0)" data-psid="28750961" data-handle="/quan-jeans-suong-cao-cap-q0102-p28750961.html" class="button_wh_40 btn_view right-to quick-view tp_button">
                                                        <i class="fa fa-search"></i>
                                                        <span class="tooltips qv"><span>Xem nhanh</span></span>
                                                    </a>
                                                </div>
                                            </div>
                                            <span class="hotSale">
                                                <img src="~/Images/sale.svg">
                                            </span>
                                        </div><div class="product-info">
                                            <h3 class="product-name">
                                                <a rel="noindex" class="text2line tp_product_name" href="/quan-jeans-suong-cao-cap-q0102-p28750961.html" title="Quần jeans suông cao cấp Q0102">
                                                    Quần jeans suông cao cấp Q0102
                                                </a>
                                            </h3><div class="price-box clearfix">
                                                <span class="price product-price-old tp_product_price_old">450,000₫</span>
                                                <span class="price product-price tp_product_price">427,500₫</span>
                                            </div><div class="action__">
                                                <button class="cart_button_style tp_button" data-psid="28750961" data-root="-2" data-handle="/quan-jeans-suong-cao-cap-q0102-p28750961.html">
                                                    <span class="fa fa-shopping-basket"></span>
                                                    Giỏ hàng
                                                </button>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div><div class="col-xs-6 col-sm-3 col-md-3 col-lg-3 product-col">
                                <div class="item saler_item pro-content" data-id="28750935">
                                    <div class="product-box">
                                        <div class="product-thumbnail">
                                            <span class="sale_count"> <span class="bf_"> -5% </span></span>                                                    <a rel="noindex" href="/quan-ni-tui-hop-cao-cap-q9012-p28750935.html" class="image_link display_flex" data-images="https://storage.googleapis.com/cdn.nhanh.vn/store/6602/ps/20210304/471b7b52a9505b65fb32f03c706c0e11_thumb.jpg" title="Quần nỉ túi hộp cao cấp Q9012">
                                                <img class="img-responsive " src="https://storage.googleapis.com/cdn.nhanh.vn/store/6602/ps/20210304/471b7b52a9505b65fb32f03c706c0e11_thumb.jpg" alt="Quần nỉ túi hộp cao cấp Q9012" style="padding-top: 0px;">
                                            </a><div class="product-action-grid clearfix">
                                                <div class="variants ">
                                                    <a href="javascript:void(0)" data-psid="28750935" data-handle="/quan-ni-tui-hop-cao-cap-q9012-p28750935.html" class="button_wh_40 btn_view right-to quick-view tp_button">
                                                        <i class="fa fa-search"></i>
                                                        <span class="tooltips qv"><span>Xem nhanh</span></span>
                                                    </a>
                                                </div>
                                            </div>
                                            <span class="hotSale">
                                                <img src="~/Images/sale.svg">
                                            </span>
                                        </div><div class="product-info">
                                            <h3 class="product-name">
                                                <a rel="noindex" class="text2line tp_product_name" href="/quan-ni-tui-hop-cao-cap-q9012-p28750935.html" title="Quần nỉ túi hộp cao cấp Q9012">
                                                    Quần nỉ túi hộp cao cấp Q9012
                                                </a>
                                            </h3><div class="price-box clearfix">
                                                <span class="price product-price-old tp_product_price_old">450,000₫</span>
                                                <span class="price product-price tp_product_price">427,500₫</span>
                                            </div><div class="action__">
                                                <button class="cart_button_style tp_button" data-psid="28750935" data-root="-2" data-handle="/quan-ni-tui-hop-cao-cap-q9012-p28750935.html">
                                                    <span class="fa fa-shopping-basket"></span>
                                                    Giỏ hàng
                                                </button>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div><div class="col-xs-6 col-sm-3 col-md-3 col-lg-3 product-col">
                                <div class="item saler_item pro-content" data-id="28750930">
                                    <div class="product-box">
                                        <div class="product-thumbnail">
                                            <span class="sale_count"> <span class="bf_"> -5% </span></span>                                                    <a rel="noindex" href="/quan-ni-jogger-cao-cap-q9011-p28750930.html" class="image_link display_flex" data-images="https://storage.googleapis.com/cdn.nhanh.vn/store/6602/ps/20210304/e623d905f4ddbf3922af80b84734f801_thumb.jpg" title="Quần nỉ jogger cao cấp Q9011">
                                                <img class="img-responsive " src="https://storage.googleapis.com/cdn.nhanh.vn/store/6602/ps/20210304/e623d905f4ddbf3922af80b84734f801_thumb.jpg" alt="Quần nỉ jogger cao cấp Q9011" style="padding-top: 0px;">
                                            </a><div class="product-action-grid clearfix">
                                                <div class="variants ">
                                                    <a href="javascript:void(0)" data-psid="28750930" data-handle="/quan-ni-jogger-cao-cap-q9011-p28750930.html" class="button_wh_40 btn_view right-to quick-view tp_button">
                                                        <i class="fa fa-search"></i>
                                                        <span class="tooltips qv"><span>Xem nhanh</span></span>
                                                    </a>
                                                </div>
                                            </div>
                                            <span class="hotSale">
                                                <img src="~/Images/sale.svg">
                                            </span>
                                        </div><div class="product-info">
                                            <h3 class="product-name">
                                                <a rel="noindex" class="text2line tp_product_name" href="/quan-ni-jogger-cao-cap-q9011-p28750930.html" title="Quần nỉ jogger cao cấp Q9011">
                                                    Quần nỉ jogger cao cấp Q9011
                                                </a>
                                            </h3><div class="price-box clearfix">
                                                <span class="price product-price-old tp_product_price_old">450,000₫</span>
                                                <span class="price product-price tp_product_price">427,500₫</span>
                                            </div><div class="action__">
                                                <button class="cart_button_style tp_button" data-psid="28750930" data-root="-2" data-handle="/quan-ni-jogger-cao-cap-q9011-p28750930.html">
                                                    <span class="fa fa-shopping-basket"></span>
                                                    Giỏ hàng
                                                </button>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div><div class="col-xs-6 col-sm-3 col-md-3 col-lg-3 product-col">
                                <div class="item saler_item pro-content" data-id="28750926">
                                    <div class="product-box">
                                        <div class="product-thumbnail">
                                            <span class="sale_count"> <span class="bf_"> -5% </span></span>                                                    <a rel="noindex" href="/quan-ni-soc-xam-khuy-bam-p28750926.html" class="image_link display_flex" data-images="https://storage.googleapis.com/cdn.nhanh.vn/store/6602/ps/20210218/969c06ab893756e21267952440c4b7ab.jpg" title="Quần nỉ sọc xám khuy bấm">
                                                <img class="img-responsive " src="https://storage.googleapis.com/cdn.nhanh.vn/store/6602/ps/20210218/969c06ab893756e21267952440c4b7ab.jpg" alt="Quần nỉ sọc xám khuy bấm" style="padding-top: 0px;">
                                            </a><div class="product-action-grid clearfix">
                                                <div class="variants ">
                                                    <a href="javascript:void(0)" data-psid="28750926" data-handle="/quan-ni-soc-xam-khuy-bam-p28750926.html" class="button_wh_40 btn_view right-to quick-view tp_button">
                                                        <i class="fa fa-search"></i>
                                                        <span class="tooltips qv"><span>Xem nhanh</span></span>
                                                    </a>
                                                </div>
                                            </div>
                                            <span class="hotSale">
                                                <img src="~/Images/sale.svg">
                                            </span>
                                        </div><div class="product-info">
                                            <h3 class="product-name">
                                                <a rel="noindex" class="text2line tp_product_name" href="/quan-ni-soc-xam-khuy-bam-p28750926.html" title="Quần nỉ sọc xám khuy bấm">
                                                    Quần nỉ sọc xám khuy bấm
                                                </a>
                                            </h3><div class="price-box clearfix">
                                                <span class="price product-price-old tp_product_price_old">470,000₫</span>
                                                <span class="price product-price tp_product_price">446,500₫</span>
                                            </div><div class="action__">
                                                <button class="cart_button_style tp_button" data-psid="28750926" data-root="-2" data-handle="/quan-ni-soc-xam-khuy-bam-p28750926.html">
                                                    <span class="fa fa-shopping-basket"></span>
                                                    Giỏ hàng
                                                </button>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div><div class="col-xs-6 col-sm-3 col-md-3 col-lg-3 product-col">
                                <div class="item saler_item pro-content" data-id="28750922">
                                    <div class="product-box">
                                        <div class="product-thumbnail">
                                            <span class="sale_count"> <span class="bf_"> -5% </span></span>                                                    <a rel="noindex" href="/quan-ni-ke-caro-qc070-p28750922.html" class="image_link display_flex" data-images="https://storage.googleapis.com/cdn.nhanh.vn/store/6602/ps/20210201/029514834f3bf807b8466a221ea866bd_thumb.jpg" title="Quần nỉ kẻ caro QC070">
                                                <img class="img-responsive " src="https://storage.googleapis.com/cdn.nhanh.vn/store/6602/ps/20210201/029514834f3bf807b8466a221ea866bd_thumb.jpg" alt="Quần nỉ kẻ caro QC070" style="padding-top: 0px;">
                                            </a><div class="product-action-grid clearfix">
                                                <div class="variants ">
                                                    <a href="javascript:void(0)" data-psid="28750922" data-handle="/quan-ni-ke-caro-qc070-p28750922.html" class="button_wh_40 btn_view right-to quick-view tp_button">
                                                        <i class="fa fa-search"></i>
                                                        <span class="tooltips qv"><span>Xem nhanh</span></span>
                                                    </a>
                                                </div>
                                            </div>
                                            <span class="hotSale">
                                                <img src="~/Images/sale.svg">
                                            </span><span class="label-solout">Hết hàng</span>
                                        </div><div class="product-info">
                                            <h3 class="product-name">
                                                <a rel="noindex" class="text2line tp_product_name" href="/quan-ni-ke-caro-qc070-p28750922.html" title="Quần nỉ kẻ caro QC070">
                                                    Quần nỉ kẻ caro QC070
                                                </a>
                                            </h3><div class="price-box clearfix">
                                                <span class="price product-price-old tp_product_price_old">470,000₫</span>
                                                <span class="price product-price tp_product_price">446,500₫</span>
                                            </div><div class="action__">
                                                <button class="cart_button_style tp_button" data-psid="28750922" data-root="-2" data-handle="/quan-ni-ke-caro-qc070-p28750922.html">
                                                    <span class="fa fa-shopping-basket"></span>
                                                    Giỏ hàng
                                                </button>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div><div class="col-xs-6 col-sm-3 col-md-3 col-lg-3 product-col">
                                <div class="item saler_item pro-content" data-id="28750913">
                                    <div class="product-box">
                                        <div class="product-thumbnail">
                                            <span class="sale_count"> <span class="bf_"> -5% </span></span>                                                    <a rel="noindex" href="/quan-vai-cao-cap-qc018-p28750913.html" class="image_link display_flex" data-images="https://storage.googleapis.com/cdn.nhanh.vn/store/6602/ps/20210201/8f2111e7bc03550a1c6fecd93d6f1fc8_thumb.jpg" title="Quần vải cao cấp QC018">
                                                <img class="img-responsive " src="https://storage.googleapis.com/cdn.nhanh.vn/store/6602/ps/20210201/8f2111e7bc03550a1c6fecd93d6f1fc8_thumb.jpg" alt="Quần vải cao cấp QC018" style="padding-top: 0px;">
                                            </a><div class="product-action-grid clearfix">
                                                <div class="variants ">
                                                    <a href="javascript:void(0)" data-psid="28750913" data-handle="/quan-vai-cao-cap-qc018-p28750913.html" class="button_wh_40 btn_view right-to quick-view tp_button">
                                                        <i class="fa fa-search"></i>
                                                        <span class="tooltips qv"><span>Xem nhanh</span></span>
                                                    </a>
                                                </div>
                                            </div>
                                            <span class="hotSale">
                                                <img src="~/Images/sale.svg">
                                            </span>
                                        </div><div class="product-info">
                                            <h3 class="product-name">
                                                <a rel="noindex" class="text2line tp_product_name" href="/quan-vai-cao-cap-qc018-p28750913.html" title="Quần vải cao cấp QC018">
                                                    Quần vải cao cấp QC018
                                                </a>
                                            </h3><div class="price-box clearfix">
                                                <span class="price product-price-old tp_product_price_old">450,000₫</span>
                                                <span class="price product-price tp_product_price">427,500₫</span>
                                            </div><div class="action__">
                                                <button class="cart_button_style tp_button" data-psid="28750913" data-root="-2" data-handle="/quan-vai-cao-cap-qc018-p28750913.html">
                                                    <span class="fa fa-shopping-basket"></span>
                                                    Giỏ hàng
                                                </button>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div><div class="col-xs-6 col-sm-3 col-md-3 col-lg-3 product-col">
                                <div class="item saler_item pro-content" data-id="28750908">
                                    <div class="product-box">
                                        <div class="product-thumbnail">
                                            <span class="sale_count"> <span class="bf_"> -5% </span></span>                                                    <a rel="noindex" href="/quan-jeans-soc-trang-zip-gau-qd628-p28750908.html" class="image_link display_flex" data-images="https://storage.googleapis.com/cdn.nhanh.vn/store/6602/ps/20210201/f25e6afb152350ec528d7bbeaba483cd_thumb.jpg" title="Quần jeans sọc trắng zip gấu QD628">
                                                <img class="img-responsive " src="https://storage.googleapis.com/cdn.nhanh.vn/store/6602/ps/20210201/f25e6afb152350ec528d7bbeaba483cd_thumb.jpg" alt="Quần jeans sọc trắng zip gấu QD628" style="padding-top: 0px;">
                                            </a><div class="product-action-grid clearfix">
                                                <div class="variants ">
                                                    <a href="javascript:void(0)" data-psid="28750908" data-handle="/quan-jeans-soc-trang-zip-gau-qd628-p28750908.html" class="button_wh_40 btn_view right-to quick-view tp_button">
                                                        <i class="fa fa-search"></i>
                                                        <span class="tooltips qv"><span>Xem nhanh</span></span>
                                                    </a>
                                                </div>
                                            </div>
                                            <span class="hotSale">
                                                <img src="~/Images/sale.svg">
                                            </span>
                                        </div><div class="product-info">
                                            <h3 class="product-name">
                                                <a rel="noindex" class="text2line tp_product_name" href="/quan-jeans-soc-trang-zip-gau-qd628-p28750908.html" title="Quần jeans sọc trắng zip gấu QD628">
                                                    Quần jeans sọc trắng zip gấu QD628
                                                </a>
                                            </h3><div class="price-box clearfix">
                                                <span class="price product-price-old tp_product_price_old">450,000₫</span>
                                                <span class="price product-price tp_product_price">427,500₫</span>
                                            </div><div class="action__">
                                                <button class="cart_button_style tp_button" data-psid="28750908" data-root="-2" data-handle="/quan-jeans-soc-trang-zip-gau-qd628-p28750908.html">
                                                    <span class="fa fa-shopping-basket"></span>
                                                    Giỏ hàng
                                                </button>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div><div class="col-xs-6 col-sm-3 col-md-3 col-lg-3 product-col">
                                <div class="item saler_item pro-content" data-id="28750897">
                                    <div class="product-box">
                                        <div class="product-thumbnail">
                                            <span class="sale_count"> <span class="bf_"> -5% </span></span>                                                    <a rel="noindex" href="/quan-ni-3-soc-qm8002-p28750897.html" class="image_link display_flex" data-images="https://storage.googleapis.com/cdn.nhanh.vn/store/6602/ps/20210201/70632efc2325ef12ed4486162e32d45d.jpg" title="Quần nỉ 3 sọc  QM8002">
                                                <img class="img-responsive " src="https://storage.googleapis.com/cdn.nhanh.vn/store/6602/ps/20210201/70632efc2325ef12ed4486162e32d45d.jpg" alt="Quần nỉ 3 sọc  QM8002" style="padding-top: 0px;">
                                            </a><div class="product-action-grid clearfix">
                                                <div class="variants ">
                                                    <a href="javascript:void(0)" data-psid="28750897" data-handle="/quan-ni-3-soc-qm8002-p28750897.html" class="button_wh_40 btn_view right-to quick-view tp_button">
                                                        <i class="fa fa-search"></i>
                                                        <span class="tooltips qv"><span>Xem nhanh</span></span>
                                                    </a>
                                                </div>
                                            </div>
                                            <span class="hotSale">
                                                <img src="~/Images/sale.svg">
                                            </span>
                                        </div><div class="product-info">
                                            <h3 class="product-name">
                                                <a rel="noindex" class="text2line tp_product_name" href="/quan-ni-3-soc-qm8002-p28750897.html" title="Quần nỉ 3 sọc  QM8002">
                                                    Quần nỉ 3 sọc  QM8002
                                                </a>
                                            </h3><div class="price-box clearfix">
                                                <span class="price product-price-old tp_product_price_old">470,000₫</span>
                                                <span class="price product-price tp_product_price">446,500₫</span>
                                            </div><div class="action__">
                                                <button class="cart_button_style tp_button" data-psid="28750897" data-root="-2" data-handle="/quan-ni-3-soc-qm8002-p28750897.html">
                                                    <span class="fa fa-shopping-basket"></span>
                                                    Giỏ hàng
                                                </button>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div><div class="col-xs-6 col-sm-3 col-md-3 col-lg-3 product-col">
                                <div class="item saler_item pro-content" data-id="28750893">
                                    <div class="product-box">
                                        <div class="product-thumbnail">
                                            <span class="sale_count"> <span class="bf_"> -5% </span></span>                                                    <a rel="noindex" href="/quan-jeans-cao-cap-khuy-gau-p28750893.html" class="image_link display_flex" data-images="https://storage.googleapis.com/cdn.nhanh.vn/store/6602/ps/20210218/7cfcd3de756f01012f06d117e9686cd8.jpg" title="Quần jeans cao cấp khuy gấu">
                                                <img class="img-responsive " src="https://storage.googleapis.com/cdn.nhanh.vn/store/6602/ps/20210218/7cfcd3de756f01012f06d117e9686cd8.jpg" alt="Quần jeans cao cấp khuy gấu" style="padding-top: 0px;">
                                            </a><div class="product-action-grid clearfix">
                                                <div class="variants ">
                                                    <a href="javascript:void(0)" data-psid="28750893" data-handle="/quan-jeans-cao-cap-khuy-gau-p28750893.html" class="button_wh_40 btn_view right-to quick-view tp_button">
                                                        <i class="fa fa-search"></i>
                                                        <span class="tooltips qv"><span>Xem nhanh</span></span>
                                                    </a>
                                                </div>
                                            </div>
                                            <span class="hotSale">
                                                <img src="~/Images/sale.svg">
                                            </span>
                                        </div><div class="product-info">
                                            <h3 class="product-name">
                                                <a rel="noindex" class="text2line tp_product_name" href="/quan-jeans-cao-cap-khuy-gau-p28750893.html" title="Quần jeans cao cấp khuy gấu">
                                                    Quần jeans cao cấp khuy gấu
                                                </a>
                                            </h3><div class="price-box clearfix">
                                                <span class="price product-price-old tp_product_price_old">430,000₫</span>
                                                <span class="price product-price tp_product_price">408,500₫</span>
                                            </div><div class="action__">
                                                <button class="cart_button_style tp_button" data-psid="28750893" data-root="-2" data-handle="/quan-jeans-cao-cap-khuy-gau-p28750893.html">
                                                    <span class="fa fa-shopping-basket"></span>
                                                    Giỏ hàng
                                                </button>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div><div class="col-xs-6 col-sm-3 col-md-3 col-lg-3 product-col">
                                <div class="item saler_item pro-content" data-id="28750885">
                                    <div class="product-box">
                                        <div class="product-thumbnail">
                                            <span class="sale_count"> <span class="bf_"> -5% </span></span>                                                    <a rel="noindex" href="/quan-ni-soc-hoa-tiet-qc031-p28750885.html" class="image_link display_flex" data-images="https://storage.googleapis.com/cdn.nhanh.vn/store/6602/ps/20210131/4810df86b958a3ddbeb9cd740a7b6e3b_thumb.jpg" title="Quần nỉ sọc hoạ tiết QC031">
                                                <img class="img-responsive " src="https://storage.googleapis.com/cdn.nhanh.vn/store/6602/ps/20210131/4810df86b958a3ddbeb9cd740a7b6e3b_thumb.jpg" alt="Quần nỉ sọc hoạ tiết QC031" style="padding-top: 0px;">
                                            </a><div class="product-action-grid clearfix">
                                                <div class="variants ">
                                                    <a href="javascript:void(0)" data-psid="28750885" data-handle="/quan-ni-soc-hoa-tiet-qc031-p28750885.html" class="button_wh_40 btn_view right-to quick-view tp_button">
                                                        <i class="fa fa-search"></i>
                                                        <span class="tooltips qv"><span>Xem nhanh</span></span>
                                                    </a>
                                                </div>
                                            </div>
                                            <span class="hotSale">
                                                <img src="~/Images/sale.svg">
                                            </span>
                                        </div><div class="product-info">
                                            <h3 class="product-name">
                                                <a rel="noindex" class="text2line tp_product_name" href="/quan-ni-soc-hoa-tiet-qc031-p28750885.html" title="Quần nỉ sọc hoạ tiết QC031">
                                                    Quần nỉ sọc hoạ tiết QC031
                                                </a>
                                            </h3><div class="price-box clearfix">
                                                <span class="price product-price-old tp_product_price_old">430,000₫</span>
                                                <span class="price product-price tp_product_price">408,500₫</span>
                                            </div><div class="action__">
                                                <button class="cart_button_style tp_button" data-psid="28750885" data-root="-2" data-handle="/quan-ni-soc-hoa-tiet-qc031-p28750885.html">
                                                    <span class="fa fa-shopping-basket"></span>
                                                    Giỏ hàng
                                                </button>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div><div class="col-xs-6 col-sm-3 col-md-3 col-lg-3 product-col">
                                <div class="item saler_item pro-content" data-id="28750880">
                                    <div class="product-box">
                                        <div class="product-thumbnail">
                                            <span class="sale_count"> <span class="bf_"> -5% </span></span>                                                    <a rel="noindex" href="/quan-jeans-dai-dui-zip-gau-p28750880.html" class="image_link display_flex" data-images="https://storage.googleapis.com/cdn.nhanh.vn/store/6602/ps/20210131/9d3e970a62d033ca60bdc3968b6f8081_thumb.jpg" title="Quần jeans đai đùi zip gấu">
                                                <img class="img-responsive " src="https://storage.googleapis.com/cdn.nhanh.vn/store/6602/ps/20210131/9d3e970a62d033ca60bdc3968b6f8081_thumb.jpg" alt="Quần jeans đai đùi zip gấu" style="padding-top: 0px;">
                                            </a><div class="product-action-grid clearfix">
                                                <div class="variants ">
                                                    <a href="javascript:void(0)" data-psid="28750880" data-handle="/quan-jeans-dai-dui-zip-gau-p28750880.html" class="button_wh_40 btn_view right-to quick-view tp_button">
                                                        <i class="fa fa-search"></i>
                                                        <span class="tooltips qv"><span>Xem nhanh</span></span>
                                                    </a>
                                                </div>
                                            </div>
                                            <span class="hotSale">
                                                <img src="~/Images/sale.svg">
                                            </span>
                                        </div><div class="product-info">
                                            <h3 class="product-name">
                                                <a rel="noindex" class="text2line tp_product_name" href="/quan-jeans-dai-dui-zip-gau-p28750880.html" title="Quần jeans đai đùi zip gấu">
                                                    Quần jeans đai đùi zip gấu
                                                </a>
                                            </h3><div class="price-box clearfix">
                                                <span class="price product-price-old tp_product_price_old">450,000₫</span>
                                                <span class="price product-price tp_product_price">427,500₫</span>
                                            </div><div class="action__">
                                                <button class="cart_button_style tp_button" data-psid="28750880" data-root="-2" data-handle="/quan-jeans-dai-dui-zip-gau-p28750880.html">
                                                    <span class="fa fa-shopping-basket"></span>
                                                    Giỏ hàng
                                                </button>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div><div class="col-xs-6 col-sm-3 col-md-3 col-lg-3 product-col">
                                <div class="item saler_item pro-content" data-id="28684756">
                                    <div class="product-box">
                                        <div class="product-thumbnail">
                                            <span class="sale_count"> <span class="bf_"> -5% </span></span>                                                    <a rel="noindex" href="/quan-ni-cao-cap-soc-xam-qc028-p28684756.html" class="image_link display_flex" data-images="https://storage.googleapis.com/cdn.nhanh.vn/store/6602/ps/20210131/bfab1e0a9670268d40fe21e08acfee23_thumb.jpg" title="Quần nỉ cao cấp sọc xám QC028">
                                                <img class="img-responsive " src="https://storage.googleapis.com/cdn.nhanh.vn/store/6602/ps/20210131/bfab1e0a9670268d40fe21e08acfee23_thumb.jpg" alt="Quần nỉ cao cấp sọc xám QC028" style="padding-top: 0px;">
                                            </a><div class="product-action-grid clearfix">
                                                <div class="variants ">
                                                    <a href="javascript:void(0)" data-psid="28684756" data-handle="/quan-ni-cao-cap-soc-xam-qc028-p28684756.html" class="button_wh_40 btn_view right-to quick-view tp_button">
                                                        <i class="fa fa-search"></i>
                                                        <span class="tooltips qv"><span>Xem nhanh</span></span>
                                                    </a>
                                                </div>
                                            </div>
                                            <span class="hotSale">
                                                <img src="~/Images/sale.svg">
                                            </span>
                                        </div><div class="product-info">
                                            <h3 class="product-name">
                                                <a rel="noindex" class="text2line tp_product_name" href="/quan-ni-cao-cap-soc-xam-qc028-p28684756.html" title="Quần nỉ cao cấp sọc xám QC028">
                                                    Quần nỉ cao cấp sọc xám QC028
                                                </a>
                                            </h3><div class="price-box clearfix">
                                                <span class="price product-price-old tp_product_price_old">460,000₫</span>
                                                <span class="price product-price tp_product_price">437,000₫</span>
                                            </div><div class="action__">
                                                <button class="cart_button_style tp_button" data-psid="28684756" data-root="-2" data-handle="/quan-ni-cao-cap-soc-xam-qc028-p28684756.html">
                                                    <span class="fa fa-shopping-basket"></span>
                                                    Giỏ hàng
                                                </button>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div><div class="col-xs-6 col-sm-3 col-md-3 col-lg-3 product-col">
                                <div class="item saler_item pro-content" data-id="28684572">
                                    <div class="product-box">
                                        <div class="product-thumbnail">
                                            <span class="sale_count"> <span class="bf_"> -5% </span></span>                                                    <a rel="noindex" href="/quan-vai-caro-cao-cap-qd223-p28684572.html" class="image_link display_flex" data-images="https://storage.googleapis.com/cdn.nhanh.vn/store/6602/ps/20210131/51a1444cab0c57cdf7ef2fa153b4c4a3_thumb.jpg" title="Quần vải caro cao cấp QD223">
                                                <img class="img-responsive " src="https://storage.googleapis.com/cdn.nhanh.vn/store/6602/ps/20210131/51a1444cab0c57cdf7ef2fa153b4c4a3_thumb.jpg" alt="Quần vải caro cao cấp QD223" style="padding-top: 0px;">
                                            </a><div class="product-action-grid clearfix">
                                                <div class="variants ">
                                                    <a href="javascript:void(0)" data-psid="28684572" data-handle="/quan-vai-caro-cao-cap-qd223-p28684572.html" class="button_wh_40 btn_view right-to quick-view tp_button">
                                                        <i class="fa fa-search"></i>
                                                        <span class="tooltips qv"><span>Xem nhanh</span></span>
                                                    </a>
                                                </div>
                                            </div>
                                            <span class="hotSale">
                                                <img src="~/Images/sale.svg">
                                            </span>
                                        </div><div class="product-info">
                                            <h3 class="product-name">
                                                <a rel="noindex" class="text2line tp_product_name" href="/quan-vai-caro-cao-cap-qd223-p28684572.html" title="Quần vải caro cao cấp QD223">
                                                    Quần vải caro cao cấp QD223
                                                </a>
                                            </h3><div class="price-box clearfix">
                                                <span class="price product-price-old tp_product_price_old">450,000₫</span>
                                                <span class="price product-price tp_product_price">427,500₫</span>
                                            </div><div class="action__">
                                                <button class="cart_button_style tp_button" data-psid="28684572" data-root="-2" data-handle="/quan-vai-caro-cao-cap-qd223-p28684572.html">
                                                    <span class="fa fa-shopping-basket"></span>
                                                    Giỏ hàng
                                                </button>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div><div class="col-xs-6 col-sm-3 col-md-3 col-lg-3 product-col">
                                <div class="item saler_item pro-content" data-id="28684568">
                                    <div class="product-box">
                                        <div class="product-thumbnail">
                                            <span class="sale_count"> <span class="bf_"> -5% </span></span>                                                    <a rel="noindex" href="/quan-vai-cao-cap-qz9007-p28684568.html" class="image_link display_flex" data-images="https://storage.googleapis.com/cdn.nhanh.vn/store/6602/ps/20210201/6d33ef3e4304708888bc03a70771d044.jpg" title="Quần vải cao cấp QZ9007">
                                                <img class="img-responsive " src="https://storage.googleapis.com/cdn.nhanh.vn/store/6602/ps/20210201/6d33ef3e4304708888bc03a70771d044.jpg" alt="Quần vải cao cấp QZ9007" style="padding-top: 0px;">
                                            </a><div class="product-action-grid clearfix">
                                                <div class="variants ">
                                                    <a href="javascript:void(0)" data-psid="28684568" data-handle="/quan-vai-cao-cap-qz9007-p28684568.html" class="button_wh_40 btn_view right-to quick-view tp_button">
                                                        <i class="fa fa-search"></i>
                                                        <span class="tooltips qv"><span>Xem nhanh</span></span>
                                                    </a>
                                                </div>
                                            </div>
                                            <span class="hotSale">
                                                <img src="~/Images/sale.svg">
                                            </span>
                                        </div><div class="product-info">
                                            <h3 class="product-name">
                                                <a rel="noindex" class="text2line tp_product_name" href="/quan-vai-cao-cap-qz9007-p28684568.html" title="Quần vải cao cấp QZ9007">
                                                    Quần vải cao cấp QZ9007
                                                </a>
                                            </h3><div class="price-box clearfix">
                                                <span class="price product-price-old tp_product_price_old">430,000₫</span>
                                                <span class="price product-price tp_product_price">408,500₫</span>
                                            </div><div class="action__">
                                                <button class="cart_button_style tp_button" data-psid="28684568" data-root="-2" data-handle="/quan-vai-cao-cap-qz9007-p28684568.html">
                                                    <span class="fa fa-shopping-basket"></span>
                                                    Giỏ hàng
                                                </button>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div><div class="col-xs-6 col-sm-3 col-md-3 col-lg-3 product-col">
                                <div class="item saler_item pro-content" data-id="28684563">
                                    <div class="product-box">
                                        <div class="product-thumbnail">
                                            <span class="sale_count"> <span class="bf_"> -5% </span></span>                                                    <a rel="noindex" href="/quan-jeans-biker-cao-cap-qd209-p28684563.html" class="image_link display_flex" data-images="https://storage.googleapis.com/cdn.nhanh.vn/store/6602/ps/20210131/846b46d3c4d64177e687984c55f4c5f1_thumb.jpg" title="Quần jeans biker cao cấp QD209">
                                                <img class="img-responsive " src="https://storage.googleapis.com/cdn.nhanh.vn/store/6602/ps/20210131/846b46d3c4d64177e687984c55f4c5f1_thumb.jpg" alt="Quần jeans biker cao cấp QD209" style="padding-top: 0px;">
                                            </a><div class="product-action-grid clearfix">
                                                <div class="variants ">
                                                    <a href="javascript:void(0)" data-psid="28684563" data-handle="/quan-jeans-biker-cao-cap-qd209-p28684563.html" class="button_wh_40 btn_view right-to quick-view tp_button">
                                                        <i class="fa fa-search"></i>
                                                        <span class="tooltips qv"><span>Xem nhanh</span></span>
                                                    </a>
                                                </div>
                                            </div>
                                            <span class="hotSale">
                                                <img src="~/Images/sale.svg">
                                            </span>
                                        </div><div class="product-info">
                                            <h3 class="product-name">
                                                <a rel="noindex" class="text2line tp_product_name" href="/quan-jeans-biker-cao-cap-qd209-p28684563.html" title="Quần jeans biker cao cấp QD209">
                                                    Quần jeans biker cao cấp QD209
                                                </a>
                                            </h3><div class="price-box clearfix">
                                                <span class="price product-price-old tp_product_price_old">490,000₫</span>
                                                <span class="price product-price tp_product_price">465,500₫</span>
                                            </div><div class="action__">
                                                <button class="cart_button_style tp_button" data-psid="28684563" data-root="-2" data-handle="/quan-jeans-biker-cao-cap-qd209-p28684563.html">
                                                    <span class="fa fa-shopping-basket"></span>
                                                    Giỏ hàng
                                                </button>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div><div class="col-xs-6 col-sm-3 col-md-3 col-lg-3 product-col">
                                <div class="item saler_item pro-content" data-id="28684551">
                                    <div class="product-box">
                                        <div class="product-thumbnail">
                                            <span class="sale_count"> <span class="bf_"> -5% </span></span>                                                    <a rel="noindex" href="/quan-jeans-rach-dui-zip-gau-qd505-p28684551.html" class="image_link display_flex" data-images="https://storage.googleapis.com/cdn.nhanh.vn/store/6602/ps/20210131/56f27bbf6acb22f446fe51c253cf11f9_thumb.jpg" title="Quần jeans rách đùi zip gấu QD505">
                                                <img class="img-responsive " src="https://storage.googleapis.com/cdn.nhanh.vn/store/6602/ps/20210131/56f27bbf6acb22f446fe51c253cf11f9_thumb.jpg" alt="Quần jeans rách đùi zip gấu QD505" style="padding-top: 0px;">
                                            </a><div class="product-action-grid clearfix">
                                                <div class="variants ">
                                                    <a href="javascript:void(0)" data-psid="28684551" data-handle="/quan-jeans-rach-dui-zip-gau-qd505-p28684551.html" class="button_wh_40 btn_view right-to quick-view tp_button">
                                                        <i class="fa fa-search"></i>
                                                        <span class="tooltips qv"><span>Xem nhanh</span></span>
                                                    </a>
                                                </div>
                                            </div>
                                            <span class="hotSale">
                                                <img src="~/Images/sale.svg">
                                            </span>
                                        </div><div class="product-info">
                                            <h3 class="product-name">
                                                <a rel="noindex" class="text2line tp_product_name" href="/quan-jeans-rach-dui-zip-gau-qd505-p28684551.html" title="Quần jeans rách đùi zip gấu QD505">
                                                    Quần jeans rách đùi zip gấu QD505
                                                </a>
                                            </h3><div class="price-box clearfix">
                                                <span class="price product-price-old tp_product_price_old">430,000₫</span>
                                                <span class="price product-price tp_product_price">408,500₫</span>
                                            </div><div class="action__">
                                                <button class="cart_button_style tp_button" data-psid="28684551" data-root="-2" data-handle="/quan-jeans-rach-dui-zip-gau-qd505-p28684551.html">
                                                    <span class="fa fa-shopping-basket"></span>
                                                    Giỏ hàng
                                                </button>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div><div class="col-xs-6 col-sm-3 col-md-3 col-lg-3 product-col">
                                <div class="item saler_item pro-content" data-id="28684546">
                                    <div class="product-box">
                                        <div class="product-thumbnail">
                                            <span class="sale_count"> <span class="bf_"> -5% </span></span>                                                    <a rel="noindex" href="/quan-kaki-cao-cap-khuy-bam-p28684546.html" class="image_link display_flex" data-images="https://storage.googleapis.com/cdn.nhanh.vn/store/6602/ps/20210131/e809365514e424f578fc97b42e98b533_thumb.jpg" title="Quần kaki cao cấp khuy bấm">
                                                <img class="img-responsive " src="https://storage.googleapis.com/cdn.nhanh.vn/store/6602/ps/20210131/e809365514e424f578fc97b42e98b533_thumb.jpg" alt="Quần kaki cao cấp khuy bấm" style="padding-top: 0px;">
                                            </a><div class="product-action-grid clearfix">
                                                <div class="variants ">
                                                    <a href="javascript:void(0)" data-psid="28684546" data-handle="/quan-kaki-cao-cap-khuy-bam-p28684546.html" class="button_wh_40 btn_view right-to quick-view tp_button">
                                                        <i class="fa fa-search"></i>
                                                        <span class="tooltips qv"><span>Xem nhanh</span></span>
                                                    </a>
                                                </div>
                                            </div>
                                            <span class="hotSale">
                                                <img src="~/Images/sale.svg">
                                            </span>
                                        </div><div class="product-info">
                                            <h3 class="product-name">
                                                <a rel="noindex" class="text2line tp_product_name" href="/quan-kaki-cao-cap-khuy-bam-p28684546.html" title="Quần kaki cao cấp khuy bấm">
                                                    Quần kaki cao cấp khuy bấm
                                                </a>
                                            </h3><div class="price-box clearfix">
                                                <span class="price product-price-old tp_product_price_old">490,000₫</span>
                                                <span class="price product-price tp_product_price">465,500₫</span>
                                            </div><div class="action__">
                                                <button class="cart_button_style tp_button" data-psid="28684546" data-root="-2" data-handle="/quan-kaki-cao-cap-khuy-bam-p28684546.html">
                                                    <span class="fa fa-shopping-basket"></span>
                                                    Giỏ hàng
                                                </button>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div><div class="col-xs-6 col-sm-3 col-md-3 col-lg-3 product-col">
                                <div class="item saler_item pro-content" data-id="28684522">
                                    <div class="product-box">
                                        <div class="product-thumbnail">
                                            <span class="sale_count"> <span class="bf_"> -5% </span></span>                                                    <a rel="noindex" href="/quan-vai-cao-cap-qkz626-p28684522.html" class="image_link display_flex" data-images="https://storage.googleapis.com/cdn.nhanh.vn/store/6602/ps/20210131/820aa56c07131cf5a1738697e6d82153_thumb.jpg" title="Quần vải cao cấp QKZ626">
                                                <img class="img-responsive " src="https://storage.googleapis.com/cdn.nhanh.vn/store/6602/ps/20210131/820aa56c07131cf5a1738697e6d82153_thumb.jpg" alt="Quần vải cao cấp QKZ626" style="padding-top: 0px;">
                                            </a><div class="product-action-grid clearfix">
                                                <div class="variants ">
                                                    <a href="javascript:void(0)" data-psid="28684522" data-handle="/quan-vai-cao-cap-qkz626-p28684522.html" class="button_wh_40 btn_view right-to quick-view tp_button">
                                                        <i class="fa fa-search"></i>
                                                        <span class="tooltips qv"><span>Xem nhanh</span></span>
                                                    </a>
                                                </div>
                                            </div>
                                            <span class="hotSale">
                                                <img src="~/Images/sale.svg">
                                            </span>
                                        </div><div class="product-info">
                                            <h3 class="product-name">
                                                <a rel="noindex" class="text2line tp_product_name" href="/quan-vai-cao-cap-qkz626-p28684522.html" title="Quần vải cao cấp QKZ626">
                                                    Quần vải cao cấp QKZ626
                                                </a>
                                            </h3><div class="price-box clearfix">
                                                <span class="price product-price-old tp_product_price_old">430,000₫</span>
                                                <span class="price product-price tp_product_price">408,500₫</span>
                                            </div><div class="action__">
                                                <button class="cart_button_style tp_button" data-psid="28684522" data-root="-2" data-handle="/quan-vai-cao-cap-qkz626-p28684522.html">
                                                    <span class="fa fa-shopping-basket"></span>
                                                    Giỏ hàng
                                                </button>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div><div class="col-xs-6 col-sm-3 col-md-3 col-lg-3 product-col">
                                <div class="item saler_item pro-content" data-id="28684514">
                                    <div class="product-box">
                                        <div class="product-thumbnail">
                                            <span class="sale_count"> <span class="bf_"> -5% </span></span>                                                    <a rel="noindex" href="/quan-da-jogger-cao-cap-p28684514.html" class="image_link display_flex" data-images="https://storage.googleapis.com/cdn.nhanh.vn/store/6602/ps/20210304/54c6757c7213d461ad8b126beb4bbfdf_thumb.jpg" title="Quần da jogger cao cấp">
                                                <img class="img-responsive " src="https://storage.googleapis.com/cdn.nhanh.vn/store/6602/ps/20210304/54c6757c7213d461ad8b126beb4bbfdf_thumb.jpg" alt="Quần da jogger cao cấp" style="padding-top: 0px;">
                                            </a><div class="product-action-grid clearfix">
                                                <div class="variants ">
                                                    <a href="javascript:void(0)" data-psid="28684514" data-handle="/quan-da-jogger-cao-cap-p28684514.html" class="button_wh_40 btn_view right-to quick-view tp_button">
                                                        <i class="fa fa-search"></i>
                                                        <span class="tooltips qv"><span>Xem nhanh</span></span>
                                                    </a>
                                                </div>
                                            </div>
                                            <span class="hotSale">
                                                <img src="~/Images/sale.svg">
                                            </span>
                                        </div><div class="product-info">
                                            <h3 class="product-name">
                                                <a rel="noindex" class="text2line tp_product_name" href="/quan-da-jogger-cao-cap-p28684514.html" title="Quần da jogger cao cấp">
                                                    Quần da jogger cao cấp
                                                </a>
                                            </h3><div class="price-box clearfix">
                                                <span class="price product-price-old tp_product_price_old">490,000₫</span>
                                                <span class="price product-price tp_product_price">465,500₫</span>
                                            </div><div class="action__">
                                                <button class="cart_button_style tp_button" data-psid="28684514" data-root="-2" data-handle="/quan-da-jogger-cao-cap-p28684514.html">
                                                    <span class="fa fa-shopping-basket"></span>
                                                    Giỏ hàng
                                                </button>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div><div class="col-xs-6 col-sm-3 col-md-3 col-lg-3 product-col">
                                <div class="item saler_item pro-content" data-id="28575402">
                                    <div class="product-box">
                                        <div class="product-thumbnail">
                                            <span class="sale_count"> <span class="bf_"> -5% </span></span>                                                    <a rel="noindex" href="/quan-jeans-suong-rach-goi-q146-p28575402.html" class="image_link display_flex" data-images="https://storage.googleapis.com/cdn.nhanh.vn/store/6602/ps/20210124/1d0177a1_cad8_4ffd_9e77_90779b0cea74_thumb.jpeg" title="Quần jeans suông rách gối Q146">
                                                <img class="img-responsive " src="https://storage.googleapis.com/cdn.nhanh.vn/store/6602/ps/20210124/1d0177a1_cad8_4ffd_9e77_90779b0cea74_thumb.jpeg" alt="Quần jeans suông rách gối Q146" style="padding-top: 0px;">
                                            </a><div class="product-action-grid clearfix">
                                                <div class="variants ">
                                                    <a href="javascript:void(0)" data-psid="28575402" data-handle="/quan-jeans-suong-rach-goi-q146-p28575402.html" class="button_wh_40 btn_view right-to quick-view tp_button">
                                                        <i class="fa fa-search"></i>
                                                        <span class="tooltips qv"><span>Xem nhanh</span></span>
                                                    </a>
                                                </div>
                                            </div>
                                            <span class="hotSale">
                                                <img src="~/Images/sale.svg">
                                            </span>
                                        </div><div class="product-info">
                                            <h3 class="product-name">
                                                <a rel="noindex" class="text2line tp_product_name" href="/quan-jeans-suong-rach-goi-q146-p28575402.html" title="Quần jeans suông rách gối Q146">
                                                    Quần jeans suông rách gối Q146
                                                </a>
                                            </h3><div class="price-box clearfix">
                                                <span class="price product-price-old tp_product_price_old">410,000₫</span>
                                                <span class="price product-price tp_product_price">389,500₫</span>
                                            </div><div class="action__">
                                                <button class="cart_button_style tp_button" data-psid="28575402" data-root="-2" data-handle="/quan-jeans-suong-rach-goi-q146-p28575402.html">
                                                    <span class="fa fa-shopping-basket"></span>
                                                    Giỏ hàng
                                                </button>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div><div class="col-xs-6 col-sm-3 col-md-3 col-lg-3 product-col">
                                <div class="item saler_item pro-content" data-id="28546652">
                                    <div class="product-box">
                                        <div class="product-thumbnail">
                                            <span class="sale_count"> <span class="bf_"> -5% </span></span>                                                    <a rel="noindex" href="/quan-jeans-suong-basic-q297-p28546652.html" class="image_link display_flex" data-images="https://storage.googleapis.com/cdn.nhanh.vn/store/6602/ps/20210218/18162021111606_A4B72F03_6103_482A_BFF1_1DF61D5E5C85.png" title="Quần jeans suông basic Q297">
                                                <img class="img-responsive " src="https://storage.googleapis.com/cdn.nhanh.vn/store/6602/ps/20210218/18162021111606_A4B72F03_6103_482A_BFF1_1DF61D5E5C85.png" alt="Quần jeans suông basic Q297" style="padding-top: 0px;">
                                            </a><div class="product-action-grid clearfix">
                                                <div class="variants ">
                                                    <a href="javascript:void(0)" data-psid="28546652" data-handle="/quan-jeans-suong-basic-q297-p28546652.html" class="button_wh_40 btn_view right-to quick-view tp_button">
                                                        <i class="fa fa-search"></i>
                                                        <span class="tooltips qv"><span>Xem nhanh</span></span>
                                                    </a>
                                                </div>
                                            </div>
                                            <span class="hotSale">
                                                <img src="~/Images/sale.svg">
                                            </span>
                                        </div><div class="product-info">
                                            <h3 class="product-name">
                                                <a rel="noindex" class="text2line tp_product_name" href="/quan-jeans-suong-basic-q297-p28546652.html" title="Quần jeans suông basic Q297">
                                                    Quần jeans suông basic Q297
                                                </a>
                                            </h3><div class="price-box clearfix">
                                                <span class="price product-price-old tp_product_price_old">410,000₫</span>
                                                <span class="price product-price tp_product_price">389,500₫</span>
                                            </div><div class="action__">
                                                <button class="cart_button_style tp_button" data-psid="28546652" data-root="-2" data-handle="/quan-jeans-suong-basic-q297-p28546652.html">
                                                    <span class="fa fa-shopping-basket"></span>
                                                    Giỏ hàng
                                                </button>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div><div class="col-xs-6 col-sm-3 col-md-3 col-lg-3 product-col">
                                <div class="item saler_item pro-content" data-id="28546640">
                                    <div class="product-box">
                                        <div class="product-thumbnail">
                                            <span class="sale_count"> <span class="bf_"> -5% </span></span>                                                    <a rel="noindex" href="/quan-jeans-rach-goi-q703-p28546640.html" class="image_link display_flex" data-images="https://storage.googleapis.com/cdn.nhanh.vn/store/6602/ps/20210124/a40c4149_cba6_49eb_b349_f1ffda42b1a1.jpeg" title="Quần jeans rách gối Q703">
                                                <img class="img-responsive " src="https://storage.googleapis.com/cdn.nhanh.vn/store/6602/ps/20210124/a40c4149_cba6_49eb_b349_f1ffda42b1a1.jpeg" alt="Quần jeans rách gối Q703" style="padding-top: 0px;">
                                            </a><div class="product-action-grid clearfix">
                                                <div class="variants ">
                                                    <a href="javascript:void(0)" data-psid="28546640" data-handle="/quan-jeans-rach-goi-q703-p28546640.html" class="button_wh_40 btn_view right-to quick-view tp_button">
                                                        <i class="fa fa-search"></i>
                                                        <span class="tooltips qv"><span>Xem nhanh</span></span>
                                                    </a>
                                                </div>
                                            </div>
                                            <span class="hotSale">
                                                <img src="~/Images/sale.svg">
                                            </span>
                                        </div><div class="product-info">
                                            <h3 class="product-name">
                                                <a rel="noindex" class="text2line tp_product_name" href="/quan-jeans-rach-goi-q703-p28546640.html" title="Quần jeans rách gối Q703">
                                                    Quần jeans rách gối Q703
                                                </a>
                                            </h3><div class="price-box clearfix">
                                                <span class="price product-price-old tp_product_price_old">410,000₫</span>
                                                <span class="price product-price tp_product_price">389,500₫</span>
                                            </div><div class="action__">
                                                <button class="cart_button_style tp_button" data-psid="28546640" data-root="-2" data-handle="/quan-jeans-rach-goi-q703-p28546640.html">
                                                    <span class="fa fa-shopping-basket"></span>
                                                    Giỏ hàng
                                                </button>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div><div class="col-xs-6 col-sm-3 col-md-3 col-lg-3 product-col">
                                <div class="item saler_item pro-content" data-id="28546631">
                                    <div class="product-box">
                                        <div class="product-thumbnail">
                                            <span class="sale_count"> <span class="bf_"> -5% </span></span>                                                    <a rel="noindex" href="/quan-jeans-tua-gau-q912-p28546631.html" class="image_link display_flex" data-images="https://storage.googleapis.com/cdn.nhanh.vn/store/6602/ps/20210124/85ff0b81_84b4_4c20_9efc_ad0198cd5fda.jpeg" title="Quần jeans tua gấu Q912">
                                                <img class="img-responsive " src="https://storage.googleapis.com/cdn.nhanh.vn/store/6602/ps/20210124/85ff0b81_84b4_4c20_9efc_ad0198cd5fda.jpeg" alt="Quần jeans tua gấu Q912" style="padding-top: 0px;">
                                            </a><div class="product-action-grid clearfix">
                                                <div class="variants ">
                                                    <a href="javascript:void(0)" data-psid="28546631" data-handle="/quan-jeans-tua-gau-q912-p28546631.html" class="button_wh_40 btn_view right-to quick-view tp_button">
                                                        <i class="fa fa-search"></i>
                                                        <span class="tooltips qv"><span>Xem nhanh</span></span>
                                                    </a>
                                                </div>
                                            </div>
                                            <span class="hotSale">
                                                <img src="~/Images/sale.svg">
                                            </span>
                                        </div><div class="product-info">
                                            <h3 class="product-name">
                                                <a rel="noindex" class="text2line tp_product_name" href="/quan-jeans-tua-gau-q912-p28546631.html" title="Quần jeans tua gấu Q912">
                                                    Quần jeans tua gấu Q912
                                                </a>
                                            </h3><div class="price-box clearfix">
                                                <span class="price product-price-old tp_product_price_old">410,000₫</span>
                                                <span class="price product-price tp_product_price">389,500₫</span>
                                            </div><div class="action__">
                                                <button class="cart_button_style tp_button" data-psid="28546631" data-root="-2" data-handle="/quan-jeans-tua-gau-q912-p28546631.html">
                                                    <span class="fa fa-shopping-basket"></span>
                                                    Giỏ hàng
                                                </button>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div><div class="col-xs-6 col-sm-3 col-md-3 col-lg-3 product-col">
                                <div class="item saler_item pro-content" data-id="28546626">
                                    <div class="product-box">
                                        <div class="product-thumbnail">
                                            <span class="sale_count"> <span class="bf_"> -5% </span></span>                                                    <a rel="noindex" href="/quan-jeans-rach-goi-q125-p28546626.html" class="image_link display_flex" data-images="https://storage.googleapis.com/cdn.nhanh.vn/store/6602/ps/20210304/937e02d855dd7943284836fe513a5f8f_thumb.jpg" title="Quần jeans rách gối Q125">
                                                <img class="img-responsive " src="https://storage.googleapis.com/cdn.nhanh.vn/store/6602/ps/20210304/937e02d855dd7943284836fe513a5f8f_thumb.jpg" alt="Quần jeans rách gối Q125" style="padding-top: 0px;">
                                            </a><div class="product-action-grid clearfix">
                                                <div class="variants ">
                                                    <a href="javascript:void(0)" data-psid="28546626" data-handle="/quan-jeans-rach-goi-q125-p28546626.html" class="button_wh_40 btn_view right-to quick-view tp_button">
                                                        <i class="fa fa-search"></i>
                                                        <span class="tooltips qv"><span>Xem nhanh</span></span>
                                                    </a>
                                                </div>
                                            </div>
                                            <span class="hotSale">
                                                <img src="~/Images/sale.svg">
                                            </span>
                                        </div><div class="product-info">
                                            <h3 class="product-name">
                                                <a rel="noindex" class="text2line tp_product_name" href="/quan-jeans-rach-goi-q125-p28546626.html" title="Quần jeans rách gối Q125">
                                                    Quần jeans rách gối Q125
                                                </a>
                                            </h3><div class="price-box clearfix">
                                                <span class="price product-price-old tp_product_price_old">410,000₫</span>
                                                <span class="price product-price tp_product_price">389,500₫</span>
                                            </div><div class="action__">
                                                <button class="cart_button_style tp_button" data-psid="28546626" data-root="-2" data-handle="/quan-jeans-rach-goi-q125-p28546626.html">
                                                    <span class="fa fa-shopping-basket"></span>
                                                    Giỏ hàng
                                                </button>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div><nav class="a-center"><ul class="pagination clearfix"><li class="active page-item disabled" pr="1"><a class="page-link" href="javascript:void(0)">1</a></li><li class="page-item" pr="2"><a class="page-link" href="/quan-pc68132.html?page=2">2</a></li><li class="page-item" pr="3"><a class="page-link" href="/quan-pc68132.html?page=3">3</a></li><li class="page-item" pr="4"><a class="page-link" href="/quan-pc68132.html?page=4">4</a></li><li class="page-item" pr="5"><a class="page-link" href="/quan-pc68132.html?page=5">5</a></li><li class="page-item hidden-xs" pr="2"><a class="page-link" href="/quan-pc68132.html?page=2"><span class="ti-arrow-right"></span></a></li></ul></nav>
                    </section>
                </div>
            </section>
            @Html.Action("DanhMucSanPhamPartial", "Home");
        </div>
    </div>
</div>

