<aside class="dqdt-sidebar sidebar left left-content col-xs-12 col-lg-3 col-md-3 col-sm-12  col-lg-pull-9 col-md-pull-9">
    <aside class="aside-filter">
        <div class="dmsp-category">
            <div class="aside-title-filter"><h2><span>Danh mục sản phẩm</span></h2></div><div class="menu-category">
                <ul>
                    <li>
                        <a rel="noindex" href="/ao-pc68136.html">ÁO</a>
                        <i class="fa fa-angle-right"></i><ul class="menulv2">
                            <li>
                                <a rel="noindex" href="/ao-so-mi-pc68138.html">ÁO SƠ MI</a>
                            </li>
                            <li>
                                <a rel="noindex" href="/ao-tanktop-pc68139.html">ÁO TANKTOP</a>
                            </li>
                            <li>
                                <a rel="noindex" href="/ao-len-pc83422.html">ÁO LEN</a>
                            </li>
                            <li>
                                <a rel="noindex" href="/ao-phong-ss21-pc481647.html">ÁO PHÔNG SS'21</a>
                            </li>
                            <li>
                                <a rel="noindex" href="/ao-ni-2020-pc433909.html">ÁO NỈ 2020</a>
                            </li>
                            <li>
                                <a rel="noindex" href="/ao-khoac-2020-pc433910.html">ÁO KHOÁC 2020</a>
                            </li>
                            <li>
                                <a rel="noindex" href="/ao-phong-2020-pc379596.html">ÁO PHÔNG 2020</a>
                            </li>
                        </ul>
                    </li>
                    <li>
                        <a rel="noindex" href="/quan-pc68132.html">QUẦN</a>
                        <i class="fa fa-angle-right"></i><ul class="menulv2">
                            <li>
                                <a rel="noindex" href="/quan-shorts-pc68133.html">QUẦN SHORTS</a>
                            </li>
                            <li>
                                <a rel="noindex" href="/quan-dai-pc68134.html">QUẦN DÀI</a>
                            </li>
                        </ul>
                    </li>
                    <li>
                        <a rel="noindex" href="/phu-kien-unisex-pc68263.html">PHỤ KIỆN UNISEX</a>
                        <i class="fa fa-angle-right"></i><ul class="menulv2">
                            <li>
                                <a rel="noindex" href="/kinh-mat-pc103345.html">KÍNH MẮT</a>
                            </li>
                            <li>
                                <a rel="noindex" href="/day-lung-xich-quan-pc103367.html">DÂY LƯNG / XÍCH QUẦN</a>
                            </li>
                            <li>
                                <a rel="noindex" href="/trang-suc-pc350587.html">TRANG SỨC</a>
                            </li>
                            <li>
                                <a rel="noindex" href="/tat-ngan-dai-pc359210.html">TẤT NGẮN / DÀI</a>
                            </li>
                        </ul>
                    </li>
                    <li>
                        <a rel="noindex" href="/balo-tui-cheo-vi-pc68264.html">BALO - TÚI CHÉO - VÍ</a>
                        <i class="fa fa-angle-right"></i><ul class="menulv2">
                            <li>
                                <a rel="noindex" href="/vi-thoi-trang-pc323302.html">VÍ THỜI TRANG</a>
                            </li>
                            <li>
                                <a rel="noindex" href="/balo-pc323304.html">BALO</a>
                            </li>
                            <li>
                                <a rel="noindex" href="/tui-cheo-pc323305.html">TÚI CHÉO</a>
                            </li>
                        </ul>
                    </li>
                    <li>
                        <a rel="noindex" href="/mu-cap-mu-bucket-mu-len-pc277405.html">MŨ CAP - MŨ BUCKET - MŨ LEN</a>
                    </li>
                </ul>
            </div>
        </div><div class="aside-title-filter"><h2><span>Tìm theo</span></h2></div><aside class="aside-item filter-price tp_product_category_filter_price" colspan="price">
            <div class="aside-title aside-title-fillter"><div class="title_module"><h2><span>Khoảng giá</span></h2></div></div><div class="aside-content filter-group">
                <div class="filter-box" id="filter-price" colum="price">
                    <div class="widget_price_filter">
                        <div class="price_slider_wrapper">
                            <span class="text-green" style="font-size: 14px">
                                Từ
                                <span id="price_form" data-size="0">
                                    <input type="text" name="price_form" value="0" min="0" max="1990000" maxlength="7" style="display: inline-block; width: 40%"/>đ
                                </span> :
                                <span id="price_to" data-size="1990000" data-max="1990000">
                                    <input type="text" name="price_to" value="1990000" min="0" max="1990000" maxlength="7" style="display: inline-block; width: 40%"/>đ
                                </span>
                            </span>
                        </div>
                    </div>
                </div>
            </div>
        </aside><aside class="aside-item tp_product_category_filter_attribute" colspan="i4">
            <div class="aside-title aside-title-fillter"><div class="title_module"><h2><span>Màu sắc</span></h2></div></div><div class="aside-content filter-group">
                <ul>
                    <li class="filter-item filter-item--check-box filter-item--green">
                        <label data-link="/quan-pc68132.html?i4=276171">
                            <input type="checkbox" value="276171">
                            <i class="fa"></i> Xanh pastel
                        </label>
                    </li>
                    <li class="filter-item filter-item--check-box filter-item--green">
                        <label data-link="/quan-pc68132.html?i4=276150">
                            <input type="checkbox" value="276150">
                            <i class="fa"></i> Blue
                        </label>
                    </li>
                    <li class="filter-item filter-item--check-box filter-item--green">
                        <label data-link="/quan-pc68132.html?i4=276142">
                            <input type="checkbox" value="276142">
                            <i class="fa"></i> Xanh
                        </label>
                    </li>
                    <li class="filter-item filter-item--check-box filter-item--green">
                        <label data-link="/quan-pc68132.html?i4=276124">
                            <input type="checkbox" value="276124">
                            <i class="fa"></i> Đen
                        </label>
                    </li>
                    <li class="filter-item filter-item--check-box filter-item--green">
                        <label data-link="/quan-pc68132.html?i4=276123">
                            <input type="checkbox" value="276123">
                            <i class="fa"></i> Xám
                        </label>
                    </li>
                    <li class="filter-item filter-item--check-box filter-item--green">
                        <label data-link="/quan-pc68132.html?i4=276121">
                            <input type="checkbox" value="276121">
                            <i class="fa"></i> Xanh da trời nhạt
                        </label>
                    </li>
                    <li class="filter-item filter-item--check-box filter-item--green">
                        <label data-link="/quan-pc68132.html?i4=276117">
                            <input type="checkbox" value="276117">
                            <i class="fa"></i> Xanh indigo
                        </label>
                    </li>
                    <li class="filter-item filter-item--check-box filter-item--green">
                        <label data-link="/quan-pc68132.html?i4=276116">
                            <input type="checkbox" value="276116">
                            <i class="fa"></i> Xanh navy
                        </label>
                    </li>
                    <li class="filter-item filter-item--check-box filter-item--green">
                        <label data-link="/quan-pc68132.html?i4=276115">
                            <input type="checkbox" value="276115">
                            <i class="fa"></i> Xanh rêu
                        </label>
                    </li>
                    <li class="filter-item filter-item--check-box filter-item--green">
                        <label data-link="/quan-pc68132.html?i4=276112">
                            <input type="checkbox" value="276112">
                            <i class="fa"></i> Tím
                        </label>
                    </li>
                    <li class="filter-item filter-item--check-box filter-item--green">
                        <label data-link="/quan-pc68132.html?i4=276111">
                            <input type="checkbox" value="276111">
                            <i class="fa"></i> Hồng
                        </label>
                    </li>
                    <li class="filter-item filter-item--check-box filter-item--green">
                        <label data-link="/quan-pc68132.html?i4=276110">
                            <input type="checkbox" value="276110">
                            <i class="fa"></i> Vàng
                        </label>
                    </li>
                    <li class="filter-item filter-item--check-box filter-item--green">
                        <label data-link="/quan-pc68132.html?i4=276109">
                            <input type="checkbox" value="276109">
                            <i class="fa"></i> Cam
                        </label>
                    </li>
                    <li class="filter-item filter-item--check-box filter-item--green">
                        <label data-link="/quan-pc68132.html?i4=276108">
                            <input type="checkbox" value="276108">
                            <i class="fa"></i> Đỏ
                        </label>
                    </li>
                    <li class="filter-item filter-item--check-box filter-item--green">
                        <label data-link="/quan-pc68132.html?i4=276106">
                            <input type="checkbox" value="276106">
                            <i class="fa"></i> Nâu
                        </label>
                    </li>
                    <li class="filter-item filter-item--check-box filter-item--green">
                        <label data-link="/quan-pc68132.html?i4=276104">
                            <input type="checkbox" value="276104">
                            <i class="fa"></i> Be
                        </label>
                    </li>
                    <li class="filter-item filter-item--check-box filter-item--green">
                        <label data-link="/quan-pc68132.html?i4=276103">
                            <input type="checkbox" value="276103">
                            <i class="fa"></i> Trắng
                        </label>
                    </li>
                </ul>
            </div>
        </aside><aside class="aside-item tp_product_category_filter_attribute" colspan="i5">
            <div class="aside-title aside-title-fillter"><div class="title_module"><h2><span>Kích cỡ</span></h2></div></div><div class="aside-content filter-group">
                <ul>
                    <li class="filter-item filter-item--check-box filter-item--green">
                        <label data-link="/quan-pc68132.html?i5=276065">
                            <input type="checkbox" value="276065">
                            <i class="fa"></i> S
                        </label>
                    </li>
                    <li class="filter-item filter-item--check-box filter-item--green">
                        <label data-link="/quan-pc68132.html?i5=276066">
                            <input type="checkbox" value="276066">
                            <i class="fa"></i> M
                        </label>
                    </li>
                    <li class="filter-item filter-item--check-box filter-item--green">
                        <label data-link="/quan-pc68132.html?i5=276067">
                            <input type="checkbox" value="276067">
                            <i class="fa"></i> L
                        </label>
                    </li>
                    <li class="filter-item filter-item--check-box filter-item--green">
                        <label data-link="/quan-pc68132.html?i5=276068">
                            <input type="checkbox" value="276068">
                            <i class="fa"></i> XL
                        </label>
                    </li>
                    <li class="filter-item filter-item--check-box filter-item--green">
                        <label data-link="/quan-pc68132.html?i5=276069">
                            <input type="checkbox" value="276069">
                            <i class="fa"></i> XXL
                        </label>
                    </li>
                </ul>
            </div>
        </aside>
        <span class="border-das-sider"></span>
    </aside><div id="open-filters" class="open-filters hidden-lg hidden-md">
        <span class="fter">
            <i class="fa fa-filter"></i>
            <span>Lọc</span>
        </span>
    </div>
</aside>
