
<footer class="footer tp_footer">
    <div class="site-footer">
        <div class="container">
            <div class="footer-inner">
                <div class="row">
                    <div class="col-xs-12 col-sm-6 col-lg-2 col-md-2">
                        <div class="footer-widget">
                            <h4>
                                <span>Thông Tin</span>
                            </h4>
                            <div class="list-menu toggle-mn" style="">
                                <ul>
                                    <li class="li_effect">
                                        <a href="https://coccachshop.com/">Trang chủ</a>
                                    </li>
                                    <li class="li_effect">
                                        <a href="https://coccachshop.com/product">Sản phẩm</a>
                                    </li>
                                    <li class="li_effect">
                                        <a href="https://coccachshop.com/news">Tin tức</a>
                                    </li>
                                    <li class="li_effect">
                                        <a href="https://coccachshop.com/lien-he">Liên hệ</a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="col-xs-12 col-sm-6 col-lg-2 col-md-2">
                        <div class="footer-widget">
                            <h4>
                                <span>Chính Sách</span>
                            </h4>
                            <div class="list-menu toggle-mn" style="">
                                <ul>
                                    <li class="li_effect">
                                        <a>Hướng dẫn mua hàng</a>
                                    </li>
                                    <li class="li_effect">
                                        <a href="https://coccachshop.com/huong-dan-doi-tra-n66493.html">Hướng dẫn đổi trả</a>
                                    </li>
                                    <li class="li_effect">
                                        <a>Chính sách thanh toán</a>
                                    </li>
                                    <li class="li_effect">
                                        <a href="https://coccachshop.com/chinh-sach-giao-hang-n66490.html">Chính sách giao hàng</a>
                                    </li>
                                    <li class="li_effect">
                                        <a href="https://coccachshop.com/chinh-sach-bao-mat-n66302.html">Chính sách bảo mật</a>
                                    </li>
                                </ul>
                                <p></p>
                            </div>
                        </div>
                    </div>
                    <div class="col-xs-12 col-lg-4 col-md-4 col-sm-6 col-xs-12">
                        <div class="footer-widget">
                            <h4>
                                <span>Liên Hệ</span>
                            </h4>
                            <ul class="list-menu menu_first">
                                <li>
                                    <span class="fa fa-home"></span>
                                    <span class="frist_">
                                        <span class="b_font"></span>
                                        COCCACHSHOP UNDERCLUB
                                    </span>
                                </li>
                                <li>
                                    <span class="fa fa-phone"></span>
                                    <span class="frist_">
                                        <span class="b_font">
                                            <a href="tel:093 411 81 56">
                                                093 411 81 56
                                            </a>
                                        </span>
                                    </span>
                                </li>
                                <li>
                                    <span class="fa fa-paper-plane"></span>
                                    <span class="frist_">
                                        <span class="b_font">
                                            <a href="mailto:coccachshop@gmail.com">coccachshop@gmail.com</a>
                                        </span>
                                    </span>
                                </li>
                            </ul>
                            <div class="social_right">
                                <a href="https://www.facebook.com/coccach.unisex" target="_blank"><i class="fa fa-facebook"></i></a>
                                <a href="https://coccachshop.com/www.instagram.com/coc.cach" target="_blank"><i class="fa fa-instagram"></i></a>
                                <a href="https://www.youtube.com/channel/UCrroerubveLJqRKLcfHufeA" target="_blank"><i class="fa fa-youtube"></i></a>
                            </div>
                        </div>
                    </div>
                    <div class="col-xs-12 col-sm-6 col-lg-4 col-md-4">
                        <div class="footer-widget contentWrap">
                            <h4 class="cliked">
                                <span>Đăng ký nhận tin ưu đãi</span>
                            </h4>
                            <p>Hãy gửi chúng tôi địa chỉ email của bạn, chúng tôi sẽ gửi cho bạn những ưu đãi đặc biệt.</p>
                            <form id="mc-embedded-subscribe-form">
                                <input id="email" name="EMAIL" type="email" class="input_newsletter" placeholder="Email nhận tin">
                                <input type="submit" id="subscribe" name="subscribe" value="Gửi đi" class="tp_button">
                            </form>
                        </div>
                    </div>
                </div>
            </div>
            <div class="footer-bottom clearfix">
                <div class="clearfix"></div>
                <p>Địa chỉ : Số 3, Phường Láng Thượng, Đống Đa, Hà Nội</p>
                <p>MST : 0123456789 - Người đại diện : UTC</p>
                <p>
                    <span style="font-size:10px;"><a href="http://online.gov.vn/Home/WebDetails/68175?AspxAutoDetectCookieSupport=1&amp;fbclid=IwAR0aAALKIjKuvODLgubJ7MRXpaq8TKk_e6cBOU1-nzQiBfBvkSfVzIjVMwE"><img alt="Hình ảnh có thể có: văn bản cho biết &#39;coccach TM&#39;" src="~/Images/logo bộ công thương.png" style="height:189px;width:500px;"></a></span>
                </p>
                <div class="clearfix"></div>
                <img src="~/Images/foo_bot_pay.png" alt="Zmarket">
            </div>
        </div>
    </div>
    <div class="copyright clearfix hidden" data-runtime="Memory:3,96 mb - Time:0,08s">
        <div class="container">
            <div class="inner clearfix">
                <div class="row tablet">
                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 fot_copyright a-center">
                        <span class="wsp">
                            <span class="mobile">
                                Thiết kế web bởi
                                <a rel="nofollow" href="https://www.nhanh.vn/" title="Nhanh.vn" target="_blank">
                                    <img src="./COCCACH UNDERCLUB - COCCACH UNDERCLUB_files/nhanh_16x16.png" alt="">  Nhanh.vn
                                </a>
                            </span>
                        </span>
                    </div>
                </div>
            </div>
            <a href="https://coccachshop.com/#" id="back-to-top" class="backtop tp_button" title="Lên đầu trang"><i class="fa fa-angle-double-up"></i></a>
            <a class="hidden-lg phone_backtotop left_bottom tp_button" title="Gọi ngay" href="tel:093 411 81 56"><i class="fa fa-phone"></i></a>
        </div>
    </div>
</footer>
<div class="loadingModal">
    <span><img src="./COCCACH UNDERCLUB - COCCACH UNDERCLUB_files/loading3.gif" alt="Loading"></span>
</div>
<div id="quick-view-product" class="modal fade" role="dialog">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-body"></div>
        </div>
    </div>
</div>
<div id="modalAddCart" class="modal fade" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-body"></div>
        </div>
    </div>
</div>
<div id="modalShow" class="modal fade" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-body"></div>
        </div>
    </div>
</div>
<a target="_blank" class="link-shopee hidden-xs hidden-sm" href="https://shopee.vn/coc.cach?deep_and_deferred=1&amp;pid=partnerize_int&amp;af_click_lookback=7d&amp;is_retargeting=true&amp;af_reengagement_window=7d&amp;af_installpostback=false&amp;af_sub2=SHOPEE&amp;clickid=1101lbJBAX2n&amp;af_siteid=1101l98251&amp;utm_source=1101l98251&amp;utm_medium=affiliates&amp;fbclid=IwAR0N2AldH1wJ_0V75ExS_8LH4DXqltuQ43hLWFOnG8Zv8n5Tb6PifzKy0GY">
    <img src="~/Images/shopee.png" alt="shopee">
</a>
<a target="_blank" class="link-shopee shopee-mb hidden-md hidden-lg" href="https://shopee.vn/coc.cach?deep_and_deferred=1&amp;pid=partnerize_int&amp;af_click_lookback=7d&amp;is_retargeting=true&amp;af_reengagement_window=7d&amp;af_installpostback=false&amp;af_sub2=SHOPEE&amp;clickid=1101lbJBAX2n&amp;af_siteid=1101l98251&amp;utm_source=1101l98251&amp;utm_medium=affiliates&amp;fbclid=IwAR0N2AldH1wJ_0V75ExS_8LH4DXqltuQ43hLWFOnG8Zv8n5Tb6PifzKy0GY">
    <img src="~/Images/shopee-mobile.png" alt="shopee" width="75">
</a>
<a class="floating-chat-button">
    <img src="~/Images/chat.svg" />
</a>
<div class="chat_box">
    <div class="conv-form-wrapper">
        <form action="" method="get" class="hidden-chatbot">
            <select name="greeting" data-conv-question="Xin chào CocCach có thể giúp gì cho bạn">
                <option value="order">CocCach ơi mình muốn đặt hàng</option>
                <option value="size">Mình muốn tư vấn size</option>
                <option value="views">Xem toàn bộ sản phẩm bằng cách nào?</option>
            </select>
            <div data-conv-fork="greeting">
                <div data-conv-case="order">
                    <input type="text" data-conv-question="Chào bạn, chúng mình có dịch vụ giao hàng toàn quốc ( ship COD ) đồng giá 35k. Bạn đã lựa được mẫu ưng ý chưa ? Gửi hình cho tớ nhé 🥰
                        Miễn phí ship với đơn hàng từ 500k trở lên ( nội thành Hanoi-Saigon ) và từ 700k trở lên ( các tỉnh thành khác )" data-no-answer="true">
                    <select name="greeting" data-conv-question="dạ tớ chào bạn ạ , bạn gửi tớ sản phẩm bạn đang quan tâm nha , chúng mình sẽ báo giá và tư vấn size giúp bạn nha">
                        <option value="order">CocCach ơi mình muốn đặt hàng</option>
                        <option value="size">Mình muốn tư vấn size</option>
                        <option value="views">Xem toàn bộ sản phẩm bằng cách nào?</option>
                    </select>
                </div>
                <div data-conv-case="size">
                    <select name="thought" data-conv-question="Have you ever thought about learning? Programming is fun!">
                        <option value="yes">Yes</option>
                        <option value="no">No..</option>
                    </select>
                    <select name="greeting" data-conv-question="dạ tớ chào bạn ạ , bạn gửi tớ sản phẩm bạn đang quan tâm nha , chúng mình sẽ báo giá và tư vấn size giúp bạn nha">
                        <option value="order">CocCach ơi mình muốn đặt hàng</option>
                        <option value="size">Mình muốn tư vấn size</option>
                        <option value="views">Xem toàn bộ sản phẩm bằng cách nào?</option>
                    </select>
                </div>
                <div data-conv-case="views">
                    <select name="greeting" data-conv-question="Chào ban, Website chính thức sẽ luôn được chúng mình update mẫu mã nhanh nhất song song với gian hàng Shopee.">
                        <option value="website" data-callback="website">Trang chủ</option>
                        <option value="shopeeHN" data-callback="shopeeHN">Shopee kho Hà Nội</option>
                        <option value="shopeeHCM" data-callback="shopeeHCM">Shopee kho HCM</option>
                    </select>
                    <select name="greeting" data-conv-question="dạ tớ chào bạn ạ , bạn gửi tớ sản phẩm bạn đang quan tâm nha , chúng mình sẽ báo giá và tư vấn size giúp bạn nha">
                        <option value="order">CocCach ơi mình muốn đặt hàng</option>
                        <option value="size">Mình muốn tư vấn size</option>
                        <option value="views">Xem toàn bộ sản phẩm bằng cách nào?</option>
                    </select>
                </div>
            </div>
        </form>
    </div>
</div>
<style>
    .floating-chat-button {
        cursor: pointer;
        width: 100px;
        height: 100px;
        border-radius: 50%;
        border: transparent;
        position: fixed;
        bottom: 0px;
        right: 0px;
    }

        .floating-chat-button img {
            width: 100%;
            height: 100%;
            padding: 10px;
        }
    .chat_box {
        border-radius: 20px;
        position: fixed;
        right: 100px;
        bottom: 10px;
        width: 350px;
        height: 80vh;
        background: #dbdbdb;
        z-index: 1000;
        transition: all 0.3s ease-out;
        transform: scaleY(0);
    }
    .chat_box.active
    {
        transform: scaleY(1);
    }
    .hidden-chatbot {
        display: none;
    }
        .conv-form-wrapper textarea
        {
            height: 30px;
            overflow: hidden;
            resize: none;
        }
    .conv-form-wrapper:before
    {
        content: none !important;
    }
</style>
<script src="~/Scripts/jquery-1.12.3.min.js"></script>
<script src="https://unpkg.com/peerjs@1.3.1/dist/peerjs.min.js"></script>
<script>
            function shopeeHCM(stateWrapper, ready) {
            window.open("https://shopee.vn/coccach.unisex?utm_source=an_17171860000&utm_medium=affiliates&utm_campaign=&utm_content=sellervn-61471508");
            ready();
        }
        function shopeeHN(stateWrapper, ready) {
            window.open("https://shopee.vn/coc.cach?utm_source=an_17171860000&utm_medium=affiliates&utm_campaign=&utm_content=sellervn-61471508");
            ready();
        }
        function website(stateWrapper, ready) {
            window.open("@Url.Action("Index","Home")");
            ready();
        }
    $(document).ready(function () {
        $(".floating-chat-button").click(function () {
            $(".chat_box").toggleClass('active');
        })
        $('.conv-form-wrapper').convform({ selectInputStyle: 'disable' });
        var peer = new Peer();
        var conn = peer.connect('123');
        conn.on('open', function () {
            conn.send('hi')
            console.log('hello')
        })
    })
</script>
